<div class="container">
  <h1>My Blog</h1>

  <% if @posts %>
    <ul>
    <% @posts.each do |post| %>
      <li><%= link_to post.title, post_path(post.id) %></li>

    <% end %>
    </ul>
  <% end %>
  <%= link_to "New post", new_user_post_path(@user) %>
</div>

